<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="slide">
                <div class="item"
                    style="background-image: url(https://images.unsplash.com/photo-1610809376778-928ee2c3a561?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: cover; background-position:center ;">

                    <div class="content">
                        <div class="name">BMW M4</div>
                        <div class="desc">The 2024 BMW M4 Coupe delivers signature pulse-pounding BMW M performance and
                            aesthetics to match.
                        </div>
                        <button>More Info </button>
                    </div>

                </div>
                <div class="item"
                    style="background-image: url(https://images.unsplash.com/photo-1625179904634-243c6cdd6421?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">

                    <div class="content">
                        <div class="name">Porsche 911</div>
                        <div class="desc">Engineered around Porsche’s iconic 911 engine with unique hybrid
                            technologies and delivering unsurpassed Porsche and hybrid performance,
                        </div>
                        <button>More Info</button>
                    </div>


                </div>
                <div class="item"
                    style="background-image: url(https://images.unsplash.com/photo-1597935370784-051cdebbe6a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">

                    <div class="content">
                        <div class="name">Ferrari 488 Pista</div>
                        <div class="desc">The Ferrari 488 Pista is powered by the most powerful V8 engine in the
                            Maranello marque’s history and is the company’s special series sports car
                        </div>
                        <button>More Info</button>
                    </div>


                </div>
                <div class="item"
                    style="background-image: url(https://images.unsplash.com/photo-1453491945771-a1e904948959?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">

                    <div class="content">
                        <div class="name">Tesla Model S</div>
                        <div class="desc">Model S platforms unite powertrain and battery technologies for unrivaled
                            performance, range and efficiency.
                        </div>
                        <button>More Info</button>
                    </div>


                </div>
                <div class="item"
                    style="background-image: url(https://images2.alphacoders.com/724/724677.jpg); background-position: center;">

                    <div class="content">
                        <div class="name">Mercedes-Benz C-Class Cabriolet</div>
                        <div class="desc">The C-Class Cabriolet shows an ever-fresh face to the sun. Four of you can
                            take in the sky. Ride in coupelike comfort under a rich fabric top

                        </div>
                        <button>More Info</button>
                    </div>


                </div>
                <div class="item"
                    style="background-image: url(https://images.pexels.com/photos/1280553/pexels-photo-1280553.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-position: bottom;">

                    <div class="content">
                        <div class="name">Chevrolet Bel Air</div>
                        <div class="desc">Chevrolet Bel Air Sport Coupé 6.7 V8 Manual, 385hp, 1962 · Back/Side of
                            Chevrolet Bel Air Sport Coupé 6.7 V8 Manual, 385hp
                        </div>
                        <button>More Info</button>
                    </div>


                </div>

            </div>
            <div class="button">
                <button class="prev" title="Previous"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="next" title="Next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <script src="script.js"></script>
</body>

</html>